.vs
OnePlayer/x64
*.user
x64/Release/audio
x64/Release/bearer
x64/Release/config
x64/Release/iconengines
x64/Release/imageformats
x64/Release/mediaservice
x64/Release/platforms
x64/Release/playlistformats
x64/Release/translations
x64/Release/*.dll
.codebuddy
